@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Playpen+Sans+Thai:wght@100..800&family=Playwrite+DK+Loopet:wght@100..400&family=Poetsen+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-cyan:#00ffffd1;
    --color-body:rgb(5, 16, 27);
    
}
body{
    scroll-behavior: smooth !important;
    background-color: var(--color-body) !important;
}
a{
    color: aliceblue !important;
 
}
.box-laptop-animation{
    width: 100% ;
    
}
nav{
    cursor: pointer !important;
    box-shadow: 1px -10px 40px  var(--color-body);
    position: fixed !important;
    width: 100%;
    z-index: 11;
    top: 0;
    background-color: var(--color-body);
   
}

nav ul li a:hover{
    color: var(--color-cyan) !important;
    border-bottom: 1px solid var(--color-cyan ) !important;
    position: relative;
    bottom: 0;
    right: 0;
}
.bt-cv:hover{


    box-shadow: 1px 2px 20px var(--color-cyan);
}

.bt-cv:active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: var(--color-body) !important;
    background-color: var(--color-cyan) !important;
}
.me-detils{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: aliceblue !important;
}
.me-detils h1 {
    animation: h1 1s linear;
    -webkit-animation: h1 1s linear;
}

@keyframes h1 {
    0%{
        opacity: 0;
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
        filter: blur(20px);
        -webkit-filter: blur(20px);
}
    100%{
     transform:translateY(0);
     opacity: 1;
     -webkit-transform:translateY(0);
     -moz-transform:translateY(0);
     -ms-transform:translateY(0);
     -o-transform:translateY(0);
    
} 
    
}

.me-detils p , .card-icon-detils{
    animation: p 2s linear ;
    -webkit-animation: p 2s linear ;
}
     


@keyframes p {
    0%{
        opacity: 0;
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
        filter: blur(20px);
        -webkit-filter: blur(20px);
}
    100%{
     transform:translateY(0);
     opacity: 1;
     -webkit-transform:translateY(0);
     -moz-transform:translateY(0);
     -ms-transform:translateY(0);
     -o-transform:translateY(0);
    
} 
    
}

.card-icon-detils{
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    gap: 30px;
    font-size: 1.2rem;
}
.card-icon-detils a{
    color: var(--color-cyan) !important;
 
}

h1 b{
    position: relative;
   
}
h1 b::before{
    content: "web designer";
    color: var(--color-cyan);
    animation: words 10s infinite;
    -webkit-animation: words 10s infinite;
}
 h1 b::after{
    content: "";
    width: calc(100% + 8px);
    border-left: 2px solid var(--color-cyan);
    position: absolute;
    bottom: 0;
    right: -8px;
    height: 90%;
    animation: cursor 5s infinite , typing 10s steps(15) infinite;
    -webkit-animation: cursor 5s infinite , typing 10s steps(15) infinite;
}
@keyframes cursor {
    to{
        border-left: 2px solid var(--color-cyan);
    }
    
}
@keyframes words {
    0%,
    20%{
        content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "  React .jsx ";
       
    }
    61%,
    80%{
        content: "web Developer";
    }
    81%,
    100%{
        content: "software tester";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
    
}


.AboutMe .card-experience{
    height: 300px;
    padding: 50px;
    /* width: 550px; */
    border: 1px solid var(--color-cyan);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.AboutMe .card-experience strong{
    font-size: 4rem;
    color: var(--color-cyan);
    /* text-shadow: 10px 10px 10px var(--color-cyan); */
}
.AboutMe .card-experience p{
    font-size: 3rem;
    color: #00ffffd1;
}

.skills .div{
    background-color: var(--color-cyan);
    border-radius:20px ;
}
.skills img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.skills .css{
    width: 90% !important;
}
.skills .js{
    width: 70%;
}
.skills .react{
    width: 70%;
}
.skills .jq{
    width: 40%;
}
.skills .githup{
    width: 20%;
}
.skills .drob-box-images img{
    height: 70px;

}

.Testimonials .card-testimonials{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    padding:  10px ;
    border-radius: 10px;
    
    background-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    border: transparent;
}
.Testimonials .card-testimonials:hover{
    border: 1px solid var(--color-cyan) !important;
    box-shadow: 1px 1px 20px var(--color-cyan);
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    cursor: pointer;
}
.card-testimonials img{
    padding: 10px ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.servies .card-manthe{
   position: relative;
   margin-top: 5rem;
   border-radius:10px ;
   padding: 20px;
   background-color: rgb(2, 29, 39);
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.servies .card-manthe::after , .servies .card-manthe::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle),transparent 50%,orange,aqua);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 95px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    animation: 2s spin linear infinite  ;
    -webkit-animation: 2s spin linear infinite  ;
}

.servies .card-manthe::before{
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle:0deg;
        
    }
    to{
        --angle:360deg;
       

    }
    
}

.card-iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 30rem;
}
.card-iframe img{
    overflow: hidden;
    /* width: 500px ; */
    height: 200px;
    /* padding: 0 100px; */
    
    border: 1px solid white;
}


.scrool{
    animation: scrrol 5s linear forwards ;
    -webkit-animation: scrrol 5s linear forwards ;
    transform: translateY(100px) scale(0.6);
    -webkit-transform: translateY(100px) scale(0.6);
    -moz-transform: translateY(100px) scale(0.6);
    -ms-transform: translateY(100px) scale(0.6);
    -o-transform: translateY(100px) scale(0.6);
    opacity: 0;
    animation-timeline: view();
    animation-range: entry 0%;
}


.contactus form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
.contactus form input , textarea{
    outline: transparent;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
    width: 100% !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@keyframes scrrol {
    from{
        opacity: 0;
        transform: translateY(40px) scale(0.1);
        -webkit-transform: translateY(40px) scale(0.1);
        -moz-transform: translateY(40px) scale(0.1);
        -ms-transform: translateY(40px) scale(0.1);
        -o-transform: translateY(40px) scale(0.1);
}
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
        -moz-transform: translateY(0px) scale(1);
        -ms-transform: translateY(0px) scale(1);
        -o-transform: translateY(0px) scale(1);
}
}
footer{
    margin-top: 5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px;
flex-direction: column;
   
    background-color:rgba(0, 0, 0, 0.4);
   
    padding: 50px;
    width: 100% !important  ;
}
footer a{
    font-size: 1.2rem;
    color: var(--color-cyan ) !important;
    
}
footer a i{
    transition: 1s ;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    justify-content: ;
}
footer a i:hover{
    transform:scale(2) ;
    -webkit-transform:scale(2) ;
    -moz-transform:scale(2) ;
    -ms-transform:scale(2) ;
    -o-transform:scale(2) ;
    border-bottom: 1px solid var(--color-cyan);
}
.top{
    background-color: rgba(0, 0, 0, 0.548);
    padding: 14px !important;
    width: 0 !important;
    height: 0 !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    outline: 1px solid var(--color-cyan);
    border: 1px solid var(--color-cyan);
    box-sizing: 1px 2px 20px var(--color-cyan);
    position: fixed !important;
    bottom: 40px;
    left: 20px;
    cursor: pointer;
    animation: straw 2s linear alternate infinite  ;
    -webkit-animation: straw 2s linear alternate infinite  ;
}
@keyframes straw {
    100%{
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
    0%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    /* box-shadow: 1px 2px 30px red; */
    box-shadow: 1px 2px 30px var(--color-cyan);
}
    
}
